html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial';
}
body {
    overflow: hidden;
}
#menu {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
canvas {
    display: block;    
}

#menu img {
    padding: 2px;
}

#fps {
    font-size: 15px;
    padding: 5px;
}

#fuel {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#commands {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#gameloader {
    
    background-color: #fff;
    z-index: 2;
    display: block;
    width: 50vw;
    border: 1px solid #000;
    height: 50vh;
    
}

.centerer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.selectable {
    cursor: pointer;
}

.selectable1:hover:after, 
.selectable2:hover:after {
    content: "✓";
}

.selectable3:hover {
    background-color: yellowgreen
}

.selected1:after, .selected2:after {
    content: "✓";
}

.selected3 {
    background-color: yellowgreen
}